<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zenchn.support">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--   优化tbs首次加载， 该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束-->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>