<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacky.wanandroidkotlin"
    tools:ignore="ProtectedPermissions">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--  android:requestLegacyExternalStorage="true"  使用旧的存储策略，不使用androidQ的新策略。但这个不是长久之计，很快将会强制都使用新策略-->

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/VanAppTheme"
        tools:ignore="AllowBackup,LockedOrientationActivity，
        GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:theme">

        <meta-data
            android:name="CHANNEL_VALUE"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="CHANNEL_ID"
            android:value="${CHANNEL_ID}" /> <!-- 头条屏幕适配参数 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--百度地图key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VbmjntaPgFFOYo7knwfGcGinAbD83ZN7" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--  -->

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.splash.StartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashFullScreen" />

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.browser.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.fragmentwrap.FragmentWrapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.systemclassify.SystemClassifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mycollect.MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.demos.GirlsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widget.PhotoBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.googlemavensearch.GoogleMavenSearchActivity"
            android:screenOrientation="portrait" />

        <!--        test-->
        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".jetpack.binding.TwoActivity" />
        <activity
            android:name=".jetpack.binding.ThreeActivity"
            android:launchMode="singleTop" />

        <!--        JetPack-->
        <activity
            android:name=".jetpack.navigation.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jetpack.nike.NikeMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.music.MusicPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.baidumap.BaiDuMapLearnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.demos.NetEasyDemoActivity"
            android:screenOrientation="portrait" />


        <!--        androidx startup 优化过多使用contentProvider初始化造成启动速度慢：
       合并所有用于初始化的ContentProvider ，减少创建 ContentProvider，并提供全局管理-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--            自动初始化-->
            <meta-data
                android:name="com.jacky.wanandroidkotlin.app.AppGlobalInitializer"
                android:value="androidx.startup" />
        </provider>

        <service android:name=".wrapper.musicplay.MusicPlayService" />
    </application>

</manifest>